{% extends 'tasks/base.html' %} {% block content %}
<h2 class="mb-4">Minhas tarefas:</h2>
<div class="mb-3">
  <a href="?status=todas" class="btn btn-outline-secondary {% if status == 'todas' %}active{% endif %}">Todas</a>
  <a href="?status=pendentes" class="btn btn-outline-secondary {% if status == 'pendentes' %}active{% endif %}">Pendentes</a>
  <a href="?status=concluidas" class="btn btn-outline-secondary {% if status == 'concluidas' %}active{% endif %}">Concluídas</a>
</div>

<h2 class="mb-4">{{ titulo }}</h2>

<a class="btn btn-success mb-3" href="{% url 'tasks:add_task' %}"
  >➕ Nova Tarefa</a
>

<ul class="list-group" id="task-list">
  {% for task in tasks %}
  <li
    class="list-group-item d-flex justify-content-between align-items-start {% if task.completed %}text-decoration-line-through{% endif %}"
  >
    <div class="form-check me-3">
      <input
        type="checkbox"
        data-id="{{ task.id }}"
        class="form-check-input toggle-complete"
        {%
        if
        task.completed
        %}checked{%
        endif
        %}
      />
    </div>
    <div class="flex-grow-1">
      <div class="fw-bold">{{ task.title }}</div>
      <small class="text-muted">{{ task.description }}</small>
    </div>
    <div class="ms-3 d-flex align-items-center">
      <a
        class="btn btn-sm btn-outline-primary me-2"
        href="{% url 'tasks:edit_task' task.id %}"
        >✏️ Editar</a
      >
      <a
        class="btn btn-sm btn-outline-danger"
        href="{% url 'tasks:delete_task' task.id %}"
        >🗑️ Excluir</a
      >
    </div>
  </li>
  {% empty %}
  <li class="list-group-item text-muted text-center">
    Nenhuma tarefa encontrada.
  </li>
  {% endfor %}
</ul>

<script>
  document.querySelectorAll(".toggle-complete").forEach((checkbox) => {
    checkbox.addEventListener("change", function () {
      const taskId = this.getAttribute("data-id");
      fetch(`/toggle/${taskId}/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            const listItem = this.closest("li");
            listItem.classList.toggle(
              "text-decoration-line-through",
              data.completed
            );
          }
        });
    });
  });
</script>
{% endblock %}
